@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Rozha+One&display=swap');
@import "variables";
@import "reset";
@import "grid";

@import "Header";
@import "TopImg";
@import "OurStory";



body {
  font-family: $textFont;
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}
